.project-card {
  min-width: 150px;
  max-width: 400px; 
  width: 100%;
  margin: 0 auto;
  background: var(--dark-cyan);
  color: white;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card:hover .video-wrapper {
  scale: 1.05;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  transition: all 0.5s ease;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  display: block;
}

/* Overlay Image (Hidden on Hover) */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: opacity 0.3s ease-in-out;
}

.video-overlay .overlay-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-content {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 16px;
}

.project-card:hover .video-overlay {
  opacity: 0;
}

.project-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 2px var(--cyan);
}

.project-card h3 {
  padding: 1rem;
  color: var(--white);
  font-size: 1.5rem;
  text-align: left;
}

.project-card p {
  padding: 0 16px;
  margin-bottom: 16px;
  text-align: left;
  font-size: 1em;
}

.label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0 16px;
  margin-bottom: 10px;
}

.label-pill {
  background-color: var(--cyan);
  color: var(--dark-cyan);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.project-card p {
  color: var(--gray);
}

.mobile-play-button {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0%;
  right: 0%;
  transform: translate(-50%, -50%);
  background: rgba(23, 209, 197, 0.9);
  border: none;
  color: #112a3b;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: background 0.3s ease;
}

.read-more-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  background-color: transparent;
  color: var(--cyan);
  border: none;
  margin: 5px;
  border-radius: 8px;
  padding: 4px 10px;
  font-weight: 500;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}

.project-card:hover .read-more-btn {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
  background-color: var(--transparent-black);
}


/* Responsive Adjustments */
/* Small Screens */
@media (max-width: 999px) {
  .video-wrapper {
    height: 120px;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-card p {
    font-size: 0.85em;
  }
}

/* Extra Small Screens */
@media (max-width: 599px) {
  .video-wrapper {
    height: 140px;
  }

  .project-card h3 {
    font-size: 1rem;
  }

  .project-card p {
    font-size: 0.8em;
  }
}
