@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
  --cyan: #25CDC0;
  --dark-cyan: #213440;
  --gray: #758189;
  --white: #fff;
  --black: #000;

  --transparent-cyan: #25cdbf44;
  --transparent-dark-cyan: #21344044;
  --transparent-gray: #75818922;
  --transparent-white: #ffffff44;
  --transparent-black: #00000044;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.max-width {
  max-width: 1300px;
  margin: 0 auto;
}

.container {
  width: 100%;
  background-color: var(--dark-cyan);
}

/* // Section Title Color */
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--cyan);
  margin-bottom: 10px;
  position: relative;
  display: inline-block;

}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #17D1C5;
  margin: 8px auto 0;
}

.centered-title{
  text-align: center;
  margin-bottom: 40px;
}

.t-bold {
  font-weight: bold;
}

/* // Font color */
.t-color-white {
  color: var(--white);
}

.t-color-gray {
  color: var(--gray);
}

.t-color-cyan {
  color: var(--cyan);
}

.t-color-dark-cyan {
  color: var(--dark-cyan);
}

/* // Font sizes */
.t-24 {
  font-size: 24px;
}

.t-18 {
  font-size: 18px;
}

.t-16 {
  font-size: 16px;
}

.t-14 {
  font-size: 14px;
}

/* // Icon Sizes */
.icon-40 {
  width: 40px;
  height: 40px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

/* // Border radius */
.radius-half {
  border-radius: 50%;
}

.radius-8 {
  border-radius: 8px;
}

/* // Margin */
.m-auto {
  margin: 0 auto;
}

/* // Padding */
.p-20 {
  padding: 20px;
}

/* // Shadows */
.shadow-black, .shadow-cyan {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.shadow-cyan:hover {
  box-shadow: 0 0 30px var(--transparent-cyan);
}

/* // Border */
.border-cyan {
  border: var(--cyan) 2px solid;
}
